* {
	margin: 0;
	padding: 0;
}

body {
	color: #fff;
	background-color: #222;
}

header {
	display: flex;
	justify-content: space-between;
	background-color: #000;
	border-bottom: 2px solid #2c2c2c;
	padding: 20px 50px;
}

header a {
	margin-left: 20px;
}

a {
	text-decoration: none;
	color: #9c9c9c;
}

a:hover {
	text-decoration: underline;
}

.container {
	padding: 50px;
}

.post {
	width: 500px;
	margin-top: 50px;
	padding: 20px;
	color: #000;
	background-color: #598191;
}

.post h2 {
	margin-bottom: 20px;
}

.post p {
	margin-bottom: 10px;
}

.post a {
	color: #283c44;
}